@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
*{
    padding: 0%;
    border: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color:whitesmoke;
    padding: 0%;
    border: 0;
}
/*Menu*/
.menu{
list-style: none;
padding: 0;
background:linear-gradient(45deg, #4cf5af, #4190df);
}
.derecha{
    text-align: right;
}
.menu li a{
    text-decoration: none;
    font-size: 20px;
    font-family:'Source Sans Pro', sans-serif;
    color: white;
    padding: 20px;
    display: block;
    text-align: center;
 
}

.menu li {
    display: inline-block;
    text-align: right;
    padding:0px 15px; 
}

.menu li a:hover{
    background:#76D7C4;
    transition:ease-in .4s; 
}
/*Menu*/
.fondo1{
    border: 0;
    padding: 0%;
    width: 100%;
    height: 650px;
    background:linear-gradient(45deg, #00fa92, #037ffc);

}


.fondo1 .eslogan h2{
  font-family:'Courgette', cursive;
  font-size: 50px;
  color: white;
  padding-left: 90px;
  justify-content: center; 
  align-items:center;
  margin-top: 200px;
  position: absolute;  
 
    
}

.fondo1 .log img{
    margin-top: 10px;
    position: absolute;
    right: 150px;
    width: 40%;
    
}
:root{
    --width: 300px;
    --padding: 10px;
    --background-color: #5499C7;
    --hovercolor:#76D7C4;
    --width-collapsed:50px;
}
.body-expanded{
    margin-left:300px;
}

#sidemenu{
    background:linear-gradient(45deg, #4190df,#4cf5af );
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    
}
#sidemenu a{
    color:white;
    text-decoration: none;
    font-family:'Source Sans Pro', sans-serif;


}

#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px #76D7C4;
}
#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}
#sidemenu #header #title, #sidemenu  #header #menu-btn{
    vertical-align: middle;
}
#sedemenu #header #menu-btn{
    display: inline-block;
}
#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: 50px;
    box-sizing: border-box;
}
#sidemenu #header #menu-btn:hover{
background-color: #76D7C4;
}
#sidemenu #header #menu-btn .btn-hamburger{
    background-color: white;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

#sidemenu #profile{
    border-bottom: solid 1px #76D7C4;
    padding: 10px 0;
    text-align: center;
}
#sedemenu #profile #photo{
    box-sizing: border-box;
    padding:10px;
    margin: 0 auto;
}
#sidemenu #profile #photo img{
    padding-left: 30px;
    width: 60%;
    border-radius: 50%;
    justify-content: center;

}
#sidemenu #profile #photo, #sidemenu #profile #name{
    font-size: 24px;
    padding:10px 0;
    overflow: hidden;
}

#sidemenu #menu-items{
    overflow: hidden;
}
#sidemenu #menu-items .item{
    width:300px;
}
#sidemenu #menu-items .item .icon{
    display: inline-block;
}
#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
  
}
#sidemenu #menu-items .item a{
    display: block;
    text-decoration: none;
    color: white;
}
#sidemenu #menu-items .item a:hover{
    background-color: #76D7C4;
}
#sidemenu #menu-items .item .icon{
    box-sizing: border-box;
    padding:10px;
    width: 50px;
}
#sidemenu #menu-items .item .icon img{
    width: 100%;
}
#sidemenu #menu-items .item .title {
    padding:10px 0;
    font-size: 20px;
    color:white;
   
}
#sidemenu #menu-items .separador{
    height: 1px;
    border-bottom: solid 1px #76D7C4;
    margin: 15px 0;
}
.menu-expanded{
    width:300px;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
    z-index: 1;
}
.menu-expanded #header #title{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding:10px;
}
.menu-expanded #header #title span{
    width: calc(300px - 50px - 5px);
    overflow: hidden;

}
.menu-expanded #profile #photo{
    width: 200px;
}
.menu-expanded #profile #name{
    width: 100%;
}
.menu-collapsed{
    width: 50px;
}
.menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name{
    display: none;
}
.menu-collapsed .item{
    width: 100px;
}
/*barra lateral*/


.container{
    width: 100%;
    overflow: hidden;
    padding: 90px 0;
   
}
.subtitle{
    color:white;
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
    margin-bottom: 35px;
}
.about{
    min-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap:80px;
    justify-items: center;
    align-items: center;
}
.about-img{
    text-align: center;
    
}
.about-picture{
    max-width: 80%;
     
}
.about-text{
    max-width: 100%;
}
.about-text h2{
    color:#0893f0;;
    font-size: 2.0rem;
    font-family: 'Courgette', cursive;
}
.about-parrafo{
    color:#042135;
    margin-bottom:20px;
    line-height: 1.5;
    font-weight: 300;
    
}
/*galeria*/
.fondo2{
    background:#6cf3bb;
    width: 100%;
    height:700px;
    border: 0;
    padding: 0%;
}
.galeria{
    background:#6cf3bb;
    width: 100%;
    height:700px;
    border: 0;
    padding: 0%;
}
.galeria-grid{
    display: grid;
    height: 550px;
    grid-template-areas:
        "img1 img1 img2 img3"
        "img1 img1 img4 img5";
    gap:10px;    
}
.galeria-items{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.galeria-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.galeria-items:nth-last-of-type(1){
    grid-area:img1;
}
.galeria-items:nth-last-of-type(2){
    grid-area:img2;
}
.galeria-items:nth-last-of-type(3){
    grid-area:img3;
}
.galeria-items:nth-last-of-type(4){
    grid-area:img4;
}
.galeria-items:nth-last-of-type(5){
    grid-area:img5;
}
/*galeria*/

/*Pie de pagina*/

.pie-pagina{

    margin-top: 200px;
    width: 100%;
    background-color: #042135;

    
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
 .pie-pagina .grupo-1 .box figure{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content:center;
   align-items:center;
}
 .pie-pagina .grupo-1 .box figure img{
     width: 250px;
  }

 .pie-pagina .grupo-1 .box h2{
     color: white;
     margin-bottom: 25px;
     font-size: 25px;
 }

 .pie-pagina .grupo-1 .box p{
  color: whitesmoke;
  margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .box  a{
      text-decoration:none;
      color: #97d848;
  }
  .pie-pagina .grupo-1 .box a b:hover{
    color:rgb(252, 249, 97); 
  }
 .pie-pagina .grupo-1 .red-social a img{
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  background-color: #329fe7;
  text-align: center;
 
 }

 .pie-pagina .grupo-2{
     background-color:#02131f;
     padding: 15px 10px;
     text-align: center;
     color: white;
 }
 .pie-pagina.grupo-2 small{
     font-size: 15px;

 }
 
 @media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
   }
  }
 