@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
*{
  padding: 0%;
  border: 0;
}

.fondo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #00fa92, #037ffc);
  background-size: cover;
  
  
      
      
    
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;

}

.alert-danger{
  justify-content: center;
  text-align: center;
  background: #a84d55;
  border: 2px solid #d40a1a;
  width: 100px;
  height: 30px;
}

.box {
  width: max-content;
  height: max-content;
  color: #ebf5fc;
  top: 59%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 60px 10px;
  margin-top: 250px;
}
.box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color:whitesmoke;
  padding: 0%;
  border: 0;
}
/*Menu*/
.menu{
  list-style: none;
  padding: 0;
  background:linear-gradient(45deg, #4cf5af, #4190df);
  }
.derecha{
  text-align: right;
}
.menu li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
  text-align: center;

}
.menu li {
    display: inline-block;
    text-align: right;
    padding:0px 15px; 
}

.menu li a:hover{
    cursor: pointer;
    background:#76D7C4;
    transition:ease-in .4s; 
}
/*Menu*/

/*formulario*/

body{
  height: 100%;
  font-family:'Source Sans Pro', sans-serif;
  background-color:rgb(236, 211, 204);

}
.alert-danger{
  justify-content: center;
  text-align: center;
  background-color: #a84d55;
  border: 2px solid #d40a1a;
  width: 100px;
  height: 30px;
}
.center{
  text-align: center;
}


.formulario{
  text-align: center;
}

input{
  background-color: #fbfbfb;
  /* Con esto hago que el nombre del la foto de perfil se vea. Porque si se sube una imagen, al ser el texto blanco, no se nota si se subio o no*/
  color: black;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color:#00fa92;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: mediumslateblue;  
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  font-size: 22px;
  margin-top: 10px;   
  color: #037ffc;
  background-color: fade(white, 20%); 
  border-style: solid; 
  border-radius: 20px;  
  width: 420px;   
  cursor: pointer;
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
}
button:hover{
  background-color: #037ffc;
  color: white;
}

button p{
  color: #fff; 
}


span{
  color:#037ffc; 
}



.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  
  font-size: 39px;  
<<<<<<< HEAD
  text-align:center; 
=======
  text-align: center; 
>>>>>>> f214b84de9d4cac542a3a17418430a2b76f68245
  padding-bottom: 20px; 
  color:white;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}
/*formulario*/


.terms{
  text-align: left;
  margin-left: 20px;
}

.terminos{
  width: 80px;
  height: 10px;
  margin-left: 20px;
  margin-right: -20px;
}


.alert-danger {
  align-content: center;
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  width: fit-content;
  margin-left: 44%;
  margin-top: 11%;
}

