<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/templates/index.html">
    <link rel="stylesheet" href="/templates/form-registro.html">
    <link rel="stylesheet" href="/templates/form-contacto.html">


</head>

<body>
    <!-- MENU -->
    <div class="derecha">
        <ul class="menu">

            <li> <a th:href="@{/}">Home</a></li>
            <li th:if="!${#strings.equals(session.ROL, 'USER')}"> <a th:href="@{/usuario/registrar}">Registro</a></li>
            <li th:if="${session.ROL} == null"> <a th:href="@{/usuario/login}">Login</a></li>
            <li> <a th:href="@{/}">Contacto</a></li>
            <li th:if="${#strings.equals(session.ROL, 'USER')}"> <a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>

    <div class="fondo"></div>

    <div class="login-box">
        <img src="/static/img/nn.jpg" class="avatar" alt="Avatar Image">
        <h1>Bienvenido!</h1>

        <form th:action="@{/usuario/login}" method="POST">
            <!-- USERNAME INPUT -->
            <label for="username">Nombre de usuario</label>
            <input type="text" name="email" placeholder="Enter Username">
            <!-- PASSWORD INPUT -->
            <label for="password">Contraseña</label>
            <input type="password" name="contrasenia" placeholder="Enter Password">

            <div class="botoncito">
                <button type="submit">Login</button>
            </div>

            <br>
            <a href="/templates/recuperar-contraseniaa.html">Olvidaste tu contraseña?</a><br>
           

            <a th:href="@{/usuario/registrar}">No tenes cuenta?</a>
        </form>

        <div th:if="${fallo}!=null" class="alert alert-danger" role="alert">
            <p th:text="${fallo}"></p>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
